@import './base.css';


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Poppins-Regular;
  font-weight: normal;
}
.github-corner svg {
  color: hsl(0, 0%, 86%);
  fill: hsl(259, 100%, 65%);
  height: 80px;
  width: 80px;
}
.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 100;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

